@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

input {
    padding: 12px;
    color: #2D3142;
    font-weight: 600;
    margin-bottom: 12px;
}

input[type="submit"] {
    font-family: 'Roboto' sans-serif;
    background-color: #BCD8C1;
    font-size: 14px;
    border: 2px solid gray;
}